

h1 {
    text-align: center;
    color: rgb(241, 245, 10);
}

.hannoi {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    height: 450px;
    width: 100%;
    
    position: relative;
}

.torre {
    position: relative;
    cursor: pointer;
    
}

.torre:hover {
    background:rgb(241, 243, 241, );
    opacity: 0.5;
}
.torre::after {
    content: " ";
    display: block;
    position: absolute;
    width: 30px;
    height: 350px;
    bottom: 0;
    left: 225px;
    background: #600;
    border-radius: 10px 10px 0 0;
}

.disco {
    position: absolute;
    background-color: black;
    height: 60px;
    width: 240px;
    border-radius: 15px;
    margin-left: 118px;
    z-index: 2;
    transition: left .2s, bottom .2s .2s;
    pointer-events: none;
}

.d1{width: 80px; 
    margin-left: 198px;
    background-color: blue;
}
.d2 {
    width: 120px;
    margin-left: 180px;
    background-color: yellow;
}

.d3 {
    width: 150px;
    margin-left: 165px;
    background-color: aqua;
}

.d4{
    width: 180px;
    margin-left: 150px;
    background-color: blueviolet;
}
.t1 {
    left: 0;
}

.t2 {
    left: 510px;
}

.t3{
    left: 1015px;
}

.p1 {
    bottom: 0;
}

.p2 {
    bottom: 60px;
}

.p3 {
    bottom: 120px;
}
.p4{
    bottom: 180px;
}
.p5{
    bottom: 240px;
}

#contador {
    color: red;
}

#cliques {
    color: yellow;
}